repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.8.2
        hooks:
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
        -   id: check-added-large-files
    -   repo: https://github.com/asottile/seed-isort-config
        rev: v2.1.1  # seed-isort-config version independent from isort
        hooks:
        -   id: seed-isort-config
    -   repo: https://github.com/timothycrosley/isort
        rev: 5.6.4
        hooks:
        -   id: isort
            additional_dependencies: [toml]
    -   repo: https://github.com/psf/black
        rev: 20.8b1
        hooks:
        -   id: black
    -   repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.4
        hooks:
        -   id: flake8
    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v0.790
        hooks:
        -   id: mypy
    -   repo: https://github.com/Lucas-C/pre-commit-hooks
        rev: v2.8.2
        hooks:
        -   id: remove-crlf
        -   id: forbid-crlf
    -   repo: https://github.com/PyCQA/pydocstyle
        rev: 5.1.1
        hooks:
        -   id: pydocstyle
    